<h1>Home#index</h1>
<p>
	Find me in app/views/home/index.html.erb
</p>
<div style='width: 800px;'>
	<div id="map" style='width: 800px; height: 400px;'></div>
</div>
<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
		provider : {},
		internal : {
			id : 'map'
		}
	}, function() {
		markers = handler.addMarkers([{ 
			"lat" : -37.796367,
			"lng" : 144.961181,
			"infowindow" : "hello!"
		}]);
		handler.bounds.extendWith(markers);
		handler.fitMapToBounds();
	}); 
</script>
