/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
 @import "jquery-ui/core";
 @import "jquery-ui/theme";
 @import "jquery-ui/accordion";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "home";
 @import "trips";
 @import "reports"; 

 html, body {
   height:100%;
 }
 .navbar {
  margin-bottom: 0;
}
// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.column {
  @extend .col-md-6;
}
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  overflow: auto;
  padding-bottom:140px;
}
section {
  @extend .row;
  margin-top: 20px;
}

.float-none {
  float: none;
}
.panel-heading {
  padding: 15px;
  h4 {
    margin: 0px;
  }
}
.wrapper {
  min-height: 100%;
}
footer {
  position: relative;
  margin-top: -120px;
  height: 120px;
  clear:both;
  padding-top:20px;
  background-color: #1B1C1D;
  color: #9D9D9D;
}