<footer>
	<div class="container">
		<p>
			&copy; GPS Track Orange Team 2015
		</p>
		<p>
			SWEN900014 Masters Software Engineering Project
		</p>
		<p>
			University of Melbourne
		</p>
	</div>
</footer>
