<div class="page-header">
	<h1>Profile</h1>
</div>
<div class="row">
	<label class="col-sm-2">Email:</label>
	<div class="col-sm-10">
		<%= @user.email if @user.email %>
	</div>
</div>
<% if @user == current_user %>
<p>
	<%= link_to 'Change Password', edit_user_registration_path, :class => 'btn btn-primary' %>
</p>
<% end %>